*{
    padding: 0%;
    margin: 0%;
}
/*color*/
body{
    background-color: #13171F;
}
h1{
    color: #F0F1F3;
}
label{
    color: #B7C7D0;
}
p{
    color: #B7C7D0;
}
legend{
    color: #B7C7D0;
}
#file-notas{
    color: #B7C7D0;
}
#file-dni{
    color: #B7C7D0;
}

/*fieldset*/
main{
    display: grid;
    gap: 20px;
    margin-right: 121px;
    margin-left: 121px;
}

fieldset{
    border: none;
    width: 100%;
    display: flex;
    flex-direction: column;
}
input{
    width: 300px;
    padding: 12px 20px 12px 20px;
}

.div1{
    display: flex;
    gap: 20px;
    line-height: 40px;
}
