*{
    padding: 0%;
    margin: 0%;
}
/*color*/
body{
    background-color: #13171F;
}
h1{
    color: #F0F1F3;
}
label{
    color: #B7C7D0;
}
p{
    color: #B7C7D0;
}
legend{
    color: #B7C7D0;
}
#file-notas{
    color: #B7C7D0;
}
#file-dni{
    color: #B7C7D0;
}

/*casillas*/
main{
    display: grid;
    gap: 20px;
    justify-items: center;
}
fieldset{
    border: none;
    width: 1204px;
    line-height: 20px;
}
.div1{
    display: flex;
    gap: 20px;
}
input{
    padding: 15px 20px 15px 20px;
    width: 548px;
}
.div2 input{
    padding: 15px 20px 15px 20px;
    width: -webkit-fill-available;
}
.div2 select{
    padding: 15px 20px 15px 20px;
    width: -webkit-fill-available;
}
.div3{
    justify-items: left;
}