*{
    padding: 0%;
    margin: 0%;
}
/*color*/
body{
    background-color: #13171F;
}
h1{
    color: #F0F1F3;
}
label{
    color: #B7C7D0;
}
p{
    color: #B7C7D0;
}
legend{
    color: #B7C7D0;
}
#file-notas{
    color: #B7C7D0;
}
#file-dni{
    color: #B7C7D0;
}

/*casillas*/
